body {
  /* background: url("https://c4.wallpaperflare.com/wallpaper/660/779/728/background-wall-drawings-wallpaper-preview.jpg"); */
  height: 70vh;
  background: black;
  background-size: contain;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Name-Page {
  width: 30vmax;
  /* padding: 10% 0 0 0; */
  margin: 6vmax auto;
}

.form {
  position: relative;
  z-index: 1;
  background-color: rgb(105, 35, 184);
  max-width: 100%;
  height: 28vmax;
  margin: 10vmax auto;
  padding: 25px;
  text-align: center;
}
h1 {
  color: #ffffff;
  background-color: rgb(105, 35, 184);
  box-shadow: 0 0 15px #bdb0b0;
  font-size: 1rem;
}
.form input {
  font-family: "Roboto", "sans-serif";
  outline: 1;
  color: white;
  background: #050a0f;
  width: 100%;
  border: 0;
  margin: 0 0 30px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 2vmax;
}
.form input::placeholder {
  text-align: center;
  color: white;
}

.form button {
  font-family: "Roboto", "sans-serif";
  outline: 0;
  background: #050a0f;
  width: 100%;
  border: 0;
  margin-bottom: 20px;
  transition: all 0.5s;
  padding: 7px;
  color: #ffffff;
  font-size: 1.4vmax;
  cursor: pointer;
}

.form p > a {
  font-family: "Roboto", "sans-serif";
  font-size: 1.2vmax;
  color: white;
  /* margin: 35px; */
  text-decoration: none;
  background-color: #050a0f;
  transition: all 0.5s;
  padding: 7px;
}
.form p > a:hover {
  background: transparent;
}

.form button:hover {
  background: #1a264b;
}

.form .unknown-form {
  display: none;
}
